nav {
    background: lightskyblue;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}
