* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: blanchedalmond;
    color: darkslategrey;
    padding-bottom: 80px;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;
}


h1, h2, h3 {
    margin-bottom: 15px;
    color: black;
}


button {
    background: lightskyblue;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 15px;
}

button:hover {
    background: lightskyblue;
}


input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 16px;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px black;
    margin-bottom: 20px;
}


.book-item img, .book-card img, #booksGrid img {
    width: 200px !important;   
    height: 300px !important;  
    object-fit: cover;         
    border: 2px solid #ddd;
    border-radius: 8px;
}