.progress-box {
    text-align: center;
    padding: 25px;
}

.progress-number {
    font-size: 48px;
    font-weight: bold;
    color: lightskyblue;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background: lightgoldenrodyellow;
    border-radius: 10px;
    margin-top: 12px;
}

.progress-fill {
    height: 20px;
    background: lightskyblue;
    border-radius: 10px;
    width: 0%;
    transition: width 0.4s ease-in-out;
}
